<%- include('includes/head') %>
<body>
	<%- include('includes/header') %>
	<%- include('includes/message') %>
	<section class="p-3 mx-auto" role="main" id="home-section">
		<main>
			<%- include('includes/components/article-header') %>
		</main>
	</section>
	<section class="p-3 mx-auto container">

		<div class="row">
			<article class="col-sm-8">
				<section class="pb-3">
					<div class="card">
						<div class="card-header">
							<ul class="nav nav-tabs card-header-tabs">
								<li class="nav-item">
									<a class="nav-link disabled active" href="#">Home</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" href="#">Destaques</a>
								</li>
							</ul>
						</div>
						<div class="card-body">
							<h5 class="card-title">Explore todas as categorias</h5>
							<p class="card-text">
								Procure por blogs na nossa plataforma e desfrute a leitura. 
								Se não gostar, nos dê seu feedback.
							</p>
							<a class="nav-link disabled">Explore</a>
						</div>
						<div class="card-body border-top">
							<h5 class="card-title">Nos dê seu feedback sobre a plataforma</h5>
							<p class="card-text">
								A plataforma não é perfeita, mas com a sua ajuda, ela pode evoluir muito.
								Clique em feedback no footer da página e responda um formulário rápido (mais ou menos 1 minuto)
								e nos envie, você também pode entrar em contato conosco a partir dele. Agradecemos qualquer sugestão.
							</p>
							<a href="#footer" class="btn btn-primary">Feedback</a>
						</div>
					</div>
				</section>
				<section class="pb-3">
					<div class="bg-light p-5 rounded">
						<h1>Infinitychat</h1>
						<p class="lead">Conheça o Infinity Mensageiro e tenha mais uma forma de trocar mensagens.</p>
						<a class="btn btn-lg btn-primary" target="_blank" href="https://infinitychat.xyz" role="button">Acesse &raquo;</a>
					</div>
				</section>
				<section class="pb-3">	
					<div class="card">
						<div class="card-header">
							<span class="lead">Quote</span>
						</div>
						<div class="card-body">
							<blockquote class="blockquote mb-0" id="blockquote-index">
								<p id="quote-msg-index"></p>
								<footer class="blockquote-footer"><span><cite title="Vincent van Gogh"></cite></span></footer>
							</blockquote>
						</div>
					</div>
				</section>
			</article>
			<aside class="col-sm-4 p-3 rounded">
				<%- include('includes/components/article-aside') %>
			</aside>
		</div>		
	</section>
	<%- include('includes/footer') %>
</body>
</html>
