<%- include('includes/head') %>
<body>
	<%- include('includes/header') %>
	<%- include('includes/message') %>

	<section class="container mt-5">
		<main>
			<div>
				<p class="h2 text-center">Bem-vindo de volta!</p>
				<p class="text-center h3"><span><%= user.name %></span></p>
			</div>

			<section>
				<div>
					<article class="text-center mt-5">
						<a target="_blank" href="/system.article" class="btn btn-primary m-1">Iniciar Artigo</a>
						<a target="_blank" id="system-edition" class="btn btn-primary m-1">Editar Artigo</a>
						<a target="_blank" id="system-delete" href="#" class="btn btn-danger m-1">Apagar Artigo</a>
						<a class="btn btn-danger" href="/staff/out">Logout - Sair</a>
					</article>
				</div>
			</section>

			<section class="mt-5">
				<div class="text-center">
					<p class="h2 mb-3">Painel de utilidades</p>
					<p class="h3 mb-3 fw-normal">E-mail, frases e estatísticas</p>
					<a target="_blank" class="btn btn-primary m-1" href="/email">Enviar e-mail</a>
					<a class="btn btn-danger m-1" id="system-statistics">Estatísticas</a>
				</div>
			</section>

			<%- include('includes/components/form-new-adm') %>

		</main>
	</section>

	<%- include('includes/footer') %>
</body>
</html>